{
  "some-change": "test fdsa",
    "presets": ["env", "react"],
    "plugins": ["transform-object-rest-spread"],
    "env": {
        "test": {
            "plugins": [ "istanbul" ]
        }
    }
}